<mat-card>
    <mat-card-header>
      <mat-card-title>About Us</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>We are dedicated to building robust and scalable web applications using Angular and Angular Material.</p>
    </mat-card-content>
  </mat-card>
  
  <mat-table [dataSource]="[{ name: 'Angular', version: '18.0.0' }, { name: 'Angular Material', version: '16.0.0' }]">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Library </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="version">
      <mat-header-cell *matHeaderCellDef> Version </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.version}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="['name', 'version']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['name', 'version'];"></mat-row>
  </mat-table>
  